.projet {
    // left: 50%;
    flex: 0 0 auto;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
    background: #101439;
    transform: translate(0,0);
    transition: .25s all;



    &.is--active {
        transform: translate(-50%,0);
        transition: .25s all;
    }

    &__back {
        visibility: hidden;
        background: rgba(255, 255, 255, .2);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        outline:none;

        &.is--active {
            visibility: visible;
            transition: .25s all;
            background: rgba(255, 255, 255, .5);
        }

        &_txt {
            color: black;
            text-transform: uppercase;
        }
    }

    &__picture {
        position: relative;
        height: 100%;
        width: 50%;

        &_img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__description {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;

        &_wrapper {
            max-width: 320px;
        }

        &_title {
        }

        &_tags {
        }

        &_txt {
        }
    }
}
